h1 {
    color:cornflowerblue;
    text-align: center;
}

#main_list {
    margin:auto;
    list-style-type: none;
}

.main-list-element {
    margin: 10px;
    width: 200px;
}

.home-link{
    margin: auto;
    width:10%;
}

a:link, a:visited {
  background-color:aquamarine;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color:lightblue;
}