body{
    background-color: #1F2937;
}
.header{
    display:flex;
    width:100%;
    justify-content: flex-end;
    margin-top: 20px;
}

.headerLogo{
    width:auto;
    flex: 1 1 0%;
    margin-left: 7%;
    margin-top: 5px;
    display:flex;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color:#F9FAF8;
    font-weight:500;
}

.links{
    align-content: flex-start;
    justify-content: right;
    margin-right: 7%;
    display: flex;
    flex: 1 1 0%;
}

.links a{
    padding:5px;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;

}

.introSection {
    display: flex;
    padding-bottom: 100px;
    margin-top: 50px;
}

.introLeft {
    flex: 1 1 0%;
    margin-left: 7%;
    padding-right: 100px;
}

.introRight {
    flex: 1 1 0%;
    margin-right: 7%;
}

.titleText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.introText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #E5E7EB;
    margin-top: 0px;
}

.introImage {
    width: 100%;
    height: 250px;
    border-radius: 2%;
}

.introButton {
    width: 125px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-weight: 700;
    background-color: #3882F6;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
}

.introButton:hover{
    background-color: #2563eb;
}

.infoHeader {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 30px;
}

.middleSection {
    background-color: aliceblue;
    padding-top: 40px;
    padding-bottom: 80px;
}

.middleFlex {
    display: flex;
    padding-top: 10px;
    padding-left: 250px;
    padding-right: 250px;
}

.middleImg {
    height: 130px;
    width: 130px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    align-self: center;
}

.imgBlock {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    justify-content: space-evenly;
}

.imgBlock p {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.quoteSection {
    background-color: #E5E7EB;
    padding-top: 80px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 80px;
}

.quote {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family:'Times New Roman', Times, serif;
    font-size: 28px;
    color: gray;
    font-style: italic;
    font-weight: 100;
}

.author {
    margin-top: 0px;
    text-align: right;
}

.author {
    font-weight: 600;
    font-size: 20px;
    padding-top: 2px;
}

.footerSection {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: white;
}

.blueBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
}

.footLine1 {
    color:#E5E7EB;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 18px;
}

.footLine2 {
    color:lightgray;
    font-size: 12px;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-bottom: 20px;
}

.footButton {
    border: 2px solid #E5E7EB;
    background-color: #3882F6;
    border-radius: 7px;
    color:white;
    font-weight: bold;
    height: 35px;
    width: 120px;

}

.copyright {
    color:#E5E7EB;
    text-align: center;
    padding: 10px 0px;
    font-size: 14px;
}